#newspaper-image {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  #newspaper-image {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}

.btn-container {
  margin: 30px auto 30px auto;
}

#scrape-articles,
#saved-articles,
#unsaved-articles {
  font-size: 22px;
  padding: 0px important!;
}

h6 {
  font-size: 14px;
}

.xxx {
  height: 120px;
}

.my-custom-scrollbar {
  position: relative;
  height: 80vh;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

#article-container {
  background-color: white;
  outline-style: solid;
  outline-width: 1px;
  display: table;
}

#article-container thead {
  display: none;
}
