body {
  background-image: url("../images/newspaper.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100vh;
}

.btn-container {
  margin-top: 20px;
  margin-bottom: 10px;
}

h6 {
  font-size: 14px;
}

.xxx {
  height: 120px;
}

.my-custom-scrollbar {
  position: relative;
  height: 80vh;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

#article-container {
  background-color: white;
  outline-style: solid;
  outline-width: 1px;
  display: table;
}
